<%= provide(:title, 'About') %>
<%= stylesheet_link_tag "about" %>
<div class="jumbotron">
	<div class="container">
		<h1>About Tab Saver</h1>
		<p>An alternative to bookmars</p>
	</div>
</div>
<div class="one">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>image goes here</h2>
			</div>
			<div class="col-md-6">
				<p>some text goes over here</p>
			</div>
		</div>
	</div>
</div>
