 <!-- Nav tabs
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  
 -->
  
  <!-- TODO: Activate the first tab -->
  <ul class="nav nav-tabs" role="tablist">
  	<% if @page_data.any? %>
  	<% @page_data.each do |s, t| %>
  		<li role="presentation"><a href="#<%= s.name %>" aria-controls="<%= s.name%> role="tab" data-toggle="tab"><%=s.name %></a></li>
  	<% end %>
  	<% end %>
  	<li role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span></a></li>
  </ul>

  <!-- Tab panes 
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>
  -->
  
	<div class="tab-content">
		<% if @page_data.any?%>
		<% @page_data.each do |s, t| %>
			<div role="tabpanel" class="tab-pane" id="home">
				<div class="container">
					<%= render t %>
				</div>
			</div>
		<% end %>
		<% end %>
		<div role="tabpanel" class="tab-pane" id="add">Make a new sheet<!--  Render a sheet creation form  --></div>
	</div>
