
<% if tab.name != nil %>


	<a style="display:block" href="<%= url_fix tab.address %>" target="_blank">
		<div class="box" >
			<div class="box-inner">
				<div class="box-pic center">
					
					<%= image_tag tab.picture.url if tab.picture? %>
				</div>
				<div class="box-title center">
					<%= tab.name %>
				</div>	
			</div>
		</div>
	</a>

<% end %>
	
	

