@import "bootstrap-sprockets";
@import "bootstrap";

$friendly-green: #90E8B0;
$friendly-dark-blue: #D0DBDB;

.jumbotron {
  background-color: $friendly-green;
  margin-top: 0px;
  margin-bottom: 0px;
}

.one {
  height: 250px;
  background-color: $friendly-dark-blue;
  border-top: solid 1px black;
  margin-top: 0;
}
