
.box {
      display: block;
      float: left;
      position: relative;
      width: 19%;
      height: 200px;
      border-radius: 8px;
      margin: 10px;
      background-color: gray;
	  
      overflow: hidden;

      border: 2px solid black;
 
    }
    
.box-inner {
  padding: 1px;
}

.box-inner .box-pic img{
	position: relative;
	display: block;


}

.box-inner .box-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  padding: 5px;
  color: #fff;
  background-color: #000;
}

  
.options {
	padding: 5px;
	height: 50px;
	width: 100%;
	background-color: #EAE7EE;
}

.ops-area {
	bottom: 10px;
	padding: 5px;
	
}

.tab-pane {
	margin: 20px;
	padding: 0px;
	background-color: #F0F0F0;
	
}

.sheet-area-form {
	margin: 0px;
	padding: 30px;
	background-color: #D0CBE1;
}


button {
	display: inline-block;
	position: relative;
	bottom: 2px;
	border: solid 1px #C1BAD7;
}

#add-button, #delete-button {
	background-color: #2CC262;
	border-radius: 5px;
	margin-top: 20px;
}

#doneEdit {
	background-color: #B7AED1;
	
}

.edit-form {
	margin: 20px;
	padding: 20px;
	
}



.center {
	text-align: center;
}

@media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 95%;
        height: 200px;
      }
      

    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width:45%;
        height: 150px;
      }
      

      
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 29%;
        height: 175px;
      }
      
 
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 23%;
        height: 200px;
      }
      

    }