<%= stylesheet_link_tag "def_home_box" %>
<div class="options">
	<div class="ops-area center">
		
			<button type="button" id="doneEdit" onclick="location.href='<%= root_path %>'" >
				Done
			</button>
		
		
	</div>
	
	
	

	
</div>
