<%= stylesheet_link_tag "sessions" %>
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <%= render 'layouts/login' %>
      </div>
      <div class="modal-footer">
        <%= link_to "About", about_path, class: "btn btn-lrg btn-primary pull-left about-button" %>
        <%= link_to "Sign Up", signup_path, class: "btn btn-lrg btn-primary pull-right signup-button" %>
        
      </div>
    </div>
  </div>
</div>