<div class="modal" id="newTabModal" tabindex="-1" role="dialog" aria-labelledby="newTabModalLabel"
			data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <%= render "layouts/tab_form" %>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>