<div class="modal fade" id="newTabModal" tabindex="-1" role="dialog" aria-labelledby="newTabModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <%= render "layouts/tab_form" %>
      </div>
      <div class="modal-footer">
       
        
      </div>
    </div>
  </div>
</div>