<%= stylesheet_link_tag "def_home_box" %>
<div class="options">
	<div class="ops-area center">
		<div class="ops-btns" id="one" style="min-width:30px">
			<img class="center" src=<%= asset_path 'addButton' %> style="width:30px;height:30px;">
		</div>
		<div class="ops-btns" id="thre">
			<img class="center" src=<%= asset_path 'deleteButton' %> style="width:30px;height:30px;">
		</div>
	</div>
	
</div>
