<%= stylesheet_link_tag "def_home_box" %>
<a href=<%= @tab.address %> target="_blank">
	<div class="box">
		<div class="box-inner">
			<div class="box-pic">
				
			</div>
			<div class="box-title center">
				<p><%= @tab.name %></p>
			</div>	
		</div>
	</div>
</a>
